<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SGPMS_Home</title>

</head>
<body>
<form action = "first", method = "post"> {# on submit moves to the page #}
    <div><center><h1>Student Grade Predictive Management System</h1>
    <h3> Course Selection</h3 >
<label for ="course_inp" > <b > Select Course :  </b > </label > {# asking input #}
<select name = "course_Input" id = "course_inp" > <!Creating Dropdown for Task name">
<option value = "DPM" > Data Processing and Management (DPM) </option >
</select><br><br>
        <div> <input class ="text-center" type="submit" value="submit"/> </div>
    <h1 style="color:indianred">Class Project for Data Processing and Management(DPM) Monsoon 2022</h1>
    <br>
    <h3 align="right">Group Members</h3>
    <h5 align="right">Yogesh Kumar Jayam and Gayam Shivakanth Reddy</h5>
    <h3 align="right">Course Instructor: Dr. Pravesh Biyani</h3>
    <h3 align="right">Course Teaching Assistants</h3>
    <h5 align="right">Raashid Altaf, Gitansh Raj Satija, Mohd. Siraj Ansari</h5>

    </center></div>
</form>
</body>
<style>
    body{
    background-image: url("https://iiitd.ac.in/sites/default/files/images/iiitdrndblock.jpeg");
        background-repeat: no-repeat;
        {#background-position: center;#}
        background-size: cover;
    }
</style>
</html>